$primary-color: #4BC5F1;
$primary-color-dark: #4D93AC;
$complimentary-color: #F45F27;
$white: #FFFFFF;

$main-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;

$main-text-color: #344052;
$placeholder-text-color: #C0C4C9;

$ab-background: $primary-color;
$ab-color: $white;