Page.login-main {
  margin-top: -22;
}

Page.login-main.iphonex {
  margin-top: -44;
  background-image: url("~/images/background-login.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-head {
  margin-bottom: 20;
}

ActionBar.login-actionbar {
  color: $white;
}